<span class="channel-menu_name friend_request" style="display: none">
        <ul id="navs" class="navbar">
            <li id="notification_li">
            <% if(data.request.length > 0) {%>
            <span id="notification_count"><%= data.request.length %></span>
            <% } %>
            <!-- <a href="#" id="notificationLink"><i class="fa fa-user-plus"></i></a> -->
                <div id="notificationContainers">
                    <div id="notificationTitles">
                        Friend Requests
                    </div>
                    <div id="notificationsBodys" class="notifications">
                       <% if(data.request.length > 0) {%>
                        <% data.request.forEach(function(val){ %>
                               <div class="media">
                                <span class="pull-left">
                                    <img class="media-object img-responsive img-circle" src="http://placehold.it/50x50" >
                                </span>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <strong>
                                            <%= val.username %>
                                        </strong>
                                    </div>
                                    
                                    <div class="media-text">
                                       <input type="hidden" name="senderId" id="senderId" value="<%= val.userId %>">
                                       <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                       <button type="submit" name="accept" id="accept_friend" class="btn btn-primary accept"><i class="fa fa-check"></i> Accept</button>

                                       <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId %>">

                                       <button type="submit" name="cancel" id="cancel_friend" class="btn remove"><i class="fa fa-remove"></i> Cancel</button>
                                    </div>
                                    
                                </div>
                              </div>
                      <% }) %>
                      <% } else{ %>
                          <h3 class="text-center">No Friend Request</h3>
                    <% } %>
                      
                      
                    </div>
                    <div id="notificationFooter">This is footer</div>
                </div>
            </li>
        </ul>
    </span>