<% layout('layout') %>

<nav class="navbar navbar-default profile-nav" role="navigation" style="border-radius:0px; margin-bottom:0">
        <div class="container">
          <div class="navbar-header" style="">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand nav_brand" id="home-logo" href="/home">Soccerchat</a>
            <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a> -->
            
          </div>
          
          <div id="navbar-collapse" class = "collapse navbar-collapse" >
          
            <div class="header" id="">

              <div class="channel-menu">
                
                  <span class="channel-menu_name">
                      @<%= name.replace(/ /g, "-") %>
                  </span>

                  <!-- <a href="#" id="notification_Link" ><i class="fa fa-user-plus" id="user_plus" style="display: none;"></i></a> -->
                
                  <!-- <span class="channel-menu_name">
                      <ul id="nav" class="navbar">
                          <li id="notification_li">
                          <% if(data.request.length > 0) {%>
                          <span id="notification_count"><%= data.request.length %></span>
                          <% } %>
                          <a href="#" id="notificationLink"><i class="fa fa-user-plus"></i></a>
                              <div id="notificationContainer">
                                   <div id="notificationTitle">
                                      Friend Requests
                                  </div> 
                                  <div id="notificationsBody" class="notifications">
                                     <% if(data.request.length > 0) {%>
                                      <% data.request.forEach(function(val){ %>
                                             <div class="media">
                                              <span class="pull-left">
                                                  <img class="media-object img-responsive img-circle" src="http://placehold.it/50x50" >
                                              </span>
                                              <div class="media-body">
                                                  <div class="media-heading">
                                                      <strong>
                                                          <%= val.username %>
                                                      </strong>
                                                  </div>
                                                  
                                                  <div class="media-text">
                                                     <input type="hidden" name="senderId" id="senderId" value="<%= val.userId %>">
                                                     <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                                     <button type="submit" name="accept" id="accept_friend" class="btn btn-primary accept"><i class="fa fa-check"></i> Accept</button>

                                                     <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId %>">

                                                     <button type="submit" name="cancel" id="cancel_friend" class="btn remove"><i class="fa fa-remove"></i> Cancel</button>
                                                  </div>
                                                  
                                              </div>
                                            </div>
                                    <% }) %>
                                    <% } else{ %>
                                        <h3 class="text-center">No Friend Request</h3>
                                  <% } %>
                                    
                                    
                                  </div>
                                  <div id="notificationFooter"></div>
                              </div>
                          </li>
                      </ul>
                  </span> -->

                  <span class="channel-menu_name">
                    <ul id="nav2" class="navbar">
                        <li id="notification2_li">
                        <% var numOfTrue = 0 %>
                        <% for(var i=0;i<chat.length;i++){
                            if(chat[i].body.isRead === false)
                               numOfTrue = numOfTrue + 1
                        }%>
                        
                        <% if(numOfTrue != 0) {%>
                        <span id="notification_count2"><%= numOfTrue %></span>
                        <% } %>
                        <a href="#" id="notificationLink2"><i class="fa fa-bell"></i></a>
                            <div id="notificationContainer2">
                                <div id="notificationTitle2">
                                    Notifications
                                </div>
                                <div id="notificationsBody2" class="notifications">
                                <% if(chat.length > 0) {%>
                                   <% chat.forEach(function(val){ %>
                                   <% if(user.username !== val.body.receiverName) {%>
                                       <form method="POST" id="chatName">
                                        <a href="/chat/@<%= val.body.receiverName %>@<%= user.username %>">
                                        
                                            <div class="media">
                                               <span class="pull-left">
                                                    <img class="media-object img-responsive img-circle" src="http://placehold.it/50x50" >
                                                </span>
                                                <div class="media-body"> 
                                                    <div class="media-heading" style="">
                                                        <strong>
                                                        <% if(user.username !== val.body.receiverName) {%>
                                                            <%= val.body.receiverName %>
                                                        <% } else { %>
                                                            <%= val.body.authorName %>
                                                        <% } %>
                                                        </strong>
                                                    </div>
                                                    
                                                   
                                                   <div class="media-text">
                                                       <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                                                       <input type="hidden" name="clubName" id="clubName" value="<%= name %>">
                                                       <% if(val.body.isRead == true){ %> 
                                                           <p class="textRead"><%= val.body.body %></p>
                                                       <% } else { %>
                                                           <p class="textNotRead"><%= val.body.body %></p>
                                                       <% } %>
                                                   </div>

                                                </div>
                                              </div>
                                        </a>
                                    </form>
                                    
                                    <% } else if(user.username !== val.body.authorName) {%>
                                       <form method="POST" id="chatName">
                                        <a href="/chat/@<%= val.body.authorName %>@<%= user.username %>">                        
                                            <div class="media">
                                                <span class="pull-left">
                                                    <img class="media-object img-responsive img-circle" src="http://placehold.it/50x50" >
                                                </span>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <strong>
                                                        <% if(user.username !== val.body.receiverName) {%>
                                                            <%= val.body.receiverName %>
                                                        <% } else { %>
                                                            <%= val.body.authorName %>
                                                        <% } %>
                                                        </strong>
                                                   </div>
                                                   
                                                   <div class="media-text">
                                                       <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                                                       <input type="hidden" name="clubName" id="clubName" value="<%= name %>">
                                                       <% if(val.body.isRead == true){ %> 
                                                           <p class="textRead"><%= val.body.body %></p>
                                                       <% } else { %>
                                                           <p class="textNotRead"><%= val.body.body %></p>
                                                       <% } %>
                                                   </div>
                                                   

                                                </div>
                                              </div>
                                        </a>
                                        </form>
                                    <% } %>
                                        
                                      <% }) %>
                                  <% } %>
                                  
                                </div>
                                <div id="notificationFooter2"></div>
                            </div>
                        </li>
                    </ul>
                </span>

                <!-- <form method="GET" class="navbar-form navbar-right navbar_form">
                    <div class="form-group">
                     <input type="hidden" name="clubName" id="club_Name" value="<%= name %>">
                      <input type="text" name="search" id="search" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" id="searchBtn" class="btn btn-default">Submit</button>
                </form>
            
                <span class="logoutBtn">
                    <a href="/logout">Logout</a>
                </span> -->
              </div>
            </div>

          </div>

      </div>
    </nav>

    
      <a href="#" id="notification_Link" class="btn btn-default" style="display: none;">Toggle Button</a>
      <% include ./partials/friend-request %>

      <a href="#menu-toggle" class="fa fa-bars" id="menu_toggle" style="display: none;"></a>
      <% include ./partials/sidebar %>

    

  <div class="chat__main" id="">

    <ol id="messages" class="chat__messages"></ol>

    <div class="chat__footer input-group">
      
    <form action="" id="message-form" style="width:100%; padding:0; margin:0;">
        
        <input type="hidden" name="sender" id="sender" class="" value="<%= user.username %>"><br>
        <input type="hidden" name="roomName" id="roomName" value="<%= user.club %>">

        <input type="text" name="message" class="input-box_text" id="msg" placeholder="Type your message" autofocus autocomplete="off">
        <button class="btn btn-primary" id="send-message">Send</button>
        
    </form>
      
    </div>

  </div>


    <div id="mySidenav" class="sidenav">
    <h3 id="name"></h3>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form action="" method="get" id="add_friend">
        <input type="hidden" name="receiverName" id="receiverName" value="">
        <button type="submit" class="btn btn-primary add"><i class="fa fa-user"></i> Add Friend</button>
        
        <a id="nameLink" class="btn btn-primary">View Profile</a>
    </form>
    
    </div>
  
  <div class="listings2" id="main" style="">
        <div class="listings_channels2">
            <h2 class="listings_header2">Online Club Fans&nbsp;<span id="numValue"></span></h2>
            <ul class="channel_list">
                <li class="channel">
                    <a class="channel_name">
                        <div onclick="openNav()" id="users"></div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    
    <script id="message-template" type="text/template">
        <li class="message">
            <a href="" class="message_profile" ></a>
              <div class="message__title">
                <h4 class="userFrom">{{from}}</h4>
                <span>{{createdAt}}</span>
              </div>

              <div class="message__body">
                <p class="userText" id="myId">{{text}}</p>
              </div>
         </li>
    </script>



<% include ./partials/footer %>
</div>


<script src="/js/search.js"></script>
<script type="text/javascript" >
$(document).ready(function(){
    $("#notificationLink").click(function(){
        $("#notificationContainer").fadeToggle(300);
        $("#notification_count").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $('.chat').click(function(){
        $("#notificationContainer").hide();
         $("#notificationContainer2").hide();
    });
    
    $("#notificationLink2").click(function(){
        $("#notificationContainer2").fadeToggle(300);
        $("#notification_count2").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $('.fa').click(function(){
        $("#notificationContainer").hide();
        $("#notificationContainer2").hide();
    });
    
    $(document).on('click', '#chatName', function(){
        
        var chatId = $('#chatId').val();
        var clubName = $('#clubName').val();
        
        $.ajax({
            url: '/group/'+clubName,
            type: 'POST',
            data: {chatId: chatId, clubName:clubName},
            success: function(){
                
            }
        })
    });

    // $('#menu_toggle').click(function(event){
    //      $('.chat__sidebar').toggle();

    //      $( ".chat__main" ).animate({
    //         right: "-=1px",
    //         width: "toggle"
    //       }, 400, function() {
    //         // Animation complete.
    //       });
         
    // });

    $('#notification_Link').click(function(event){
         $('.friend_request').toggle();

         // $( ".chat__sidebar" ).animate({
         //    top: "-=10px",
         //    width: "toggle"
         //  }, 400, function() {
         //    // Animation complete.
         //  });
         
    });
    
});
</script>


