<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Web</title>


    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">


</head>

<body>


    <div class="col-md-12 mob-clearfix margin-80">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/home" style="color:white">Soccerchat</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/members" class="dropdown-toggle">
                                        <span class="nav-glyphicon "></span>Members
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-bell nav-glyphicon "></span><b class="caret"></b> <span class="label label-primary nav-label-icon">12</span>
                                    </a>
                                    <ul class="dropdown-menu dmenu">
                                        <li>
                                            <div class="navbar-login">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="dropdown-tag">
                                                            <h3 class="text-center dropdown-tag-head">
                                                                Friend Requests
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <p class="text-center">
                                                                <img src="images/team.jpg" class="img-responsive dropdown-img" />
                                                            </p>
                                                        </div>
                                                        <div class="col-md-9 pleft-0">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-12">
                                                                        <p class="text-left"><strong>Nombre Apellido</strong></p>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <button type="submit" class="btn btn-default drop-accept"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                                                                            </div>
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <button type="submit" class="btn btn-default drop-cancel"><i class="fa fa-times" aria-hidden="true"></i> Accept</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-envelope nav-glyphicon "></span><b class="caret"></b> <span class="label label-primary nav-label-icon">12</span>
                                    </a>
                                    <ul class="dropdown-menu dmenu">
                                        <li>
                                            <div class="navbar-login">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="dropdown-tag">
                                                            <h3 class="text-center dropdown-tag-head">
                                                                Notifications
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <p class="text-center">
                                                                <img src="images/team.jpg" class="img-responsive dropdown-img" />
                                                            </p>
                                                        </div>
                                                        <div class="col-md-9 pleft-0">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-12">
                                                                        <p class="text-left drop-name"><strong>Johnny</strong></p>
                                                                        <p class="drop-message">Ok</p>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="dropdown-divider" />
                                                    
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </li> -->

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user nav-glyphicon "></span><%= user.username %> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout""><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>




        <div class="col-md-12">
        <form method="POST" action="/results" class="">
            <div class="form-group ad-30" style="margin-top:8px;">
                <div class="input-group search-style">
                    <input class="form-control new-search-bar"  name="country" id="search" placeholder="Enter Your Club Name" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default input-btn" type="submit" id="submit">Search</button>
                    </span>
                </div>
            </div>
            </form>
        </div>

        <div class="col-md-12">
            <h3 style="margin-bottom:20px">Available Chat Rooms</h3>
            <input type="hidden" name="" id="name-user" value="<%= user.username %>">
        </div>

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">

                    <div class="col-sm-4 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">
                                            <form method="POST" class="" id="" action="/results">
                                            <div class="content">
                                                <div class="main">
                                                    <p class="friends" style="margin-bottom:0px;color:#444">
                                                        FILTER
                                                    </p>
                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="country" id="country" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option>Filter By Country</option>
                                                        <% country.forEach(function(val){ %>
                                                            <option value="<%= val._id %>"><%= val._id %></option>
                                                        <% }) %>

                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button class="btn btn-default add-apply" id="apply">Apply</button>

                                                </div>

                                            </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-8 col-md-9">
                        <div class="">
                        <% for(var i = 0; i < data.length; i++){%>
                            <div id="categories-list" class="">
                            <div class="row">
                            <% for(var j in data[i]) {%>
                                
                                <form action="/home" method="post" id="add-fav">
                                    <div class="item col-md-4 col-sm-4">
                                    <a href="/group/@<%= user.username%>/<%= data[i][j].name.replace(/ /g,"-") %>">
                                        <div class="thumbnail">
                                            <img class="img-responsive" src="/uploads/<%= data[i][j].image %>" width="200px" height="171px" alt="" />
                                            <div class="caption">
                                                <h4 class="group inner list-group-item-heading">
                                                    <%= data[i][j].name %> (<%= data[i][j].fans.length %>)
                                                </h4>
                                                <!-- <p class="group inner list-group-item-text">
                                                    Lorem asa ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet
                                                </p> -->
                                                
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <p class="lead" style="background: none !important; padding:0 !important; margin:0 !important">
                                                            <%= data[i][j].country %>
                                                            <!-- <span class="glyphicon glyphicon-user nav-glyphicon ic-name ic-001"></span> -->
                                                            <span class="ic-002"></span>
                                                            <input type="hidden" name="id" id="id" value="<%= data[i][j]._id %>" class="form-control">
                                                            <input type="hidden" name="clubName" id="club_Name" value="<%= data[i][j].name %>" class="form-control">
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <button class="btn btn-default add-fav" id="add_fav" type="submit">Add to Favourite</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    </form>
                                
                                <% } %>
                                </div>
                            </div>
                            <% } %>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>


    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>

</body>

</html>
