<% layout('layout') %>

    <nav class="navbar navbar-default profile-nav" role="navigation" style="border-radius:0px">
        <div class="container">
          <div class="navbar-header" style="">
            <button id="menu-toggle" type="button" class="navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand nav_brand" id="home-logo" href="/home">Soccerchat</a>
            
          </div>
          
          <div id="navbar-collapse" class = "collapse navbar-collapse" >
              <ul class="nav navbar-nav navbar-right home-navbar">
                   <li><a class=" nav_link" href="/members">Members</a></li>

                   <li>
                        <a class=" nav_link" href="/profile/<%= user.username %>">
                            <img src="/images/profile-pic.png" width="35px" height="35px" class="img-responsive img-circle" alt="">
                            <%= user.username %>
                        </a>
                    </li>
                    <li class="dropdown nav_link">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/settings/profile">Manage Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
          </div>

      </div>
    </nav>
    
    <div class="container home" style="margin:0 auto">
      
    <div class="row home-row">
       <div class="col-lg-12 text-center">
            <form method="POST" action="/results" class="navbar-form form-wrapper ">
                <div class="form-group">
                  <input type="text" name="country" id="search" class="form-control" placeholder="Club Name">
                  <!-- <input type="submit" value="go" id="submit"> -->
                </div>
                <div class="form-group">
                    <input type="submit" value="go" id="submit">
                </div>
            </form>
        </div>
        
        <div class="col-lg-12 displayText">
            <h2>Available Chat Rooms</h2>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-3 " id="side_bar" role="navigation" >
           <div class='thumb-nail' style='border:none; padding-top:5px;'>
                <form method="POST" class="form-horizontal" id="" action="/results">
                    <h2>Filter</h2>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select name="country" id="country" class="form-control">
                               <option value="">Filter By Country</option>
                                <% country.forEach(function(val){ %>
                                    <option value="<%= val._id %>"><%= val._id %></option>
                                <% }) %>
                            </select>
                        </div>
                        
                    </div>
                    
                    <div class="form-group panel_footer">
                        <button id="apply" class="">Apply</button>
                    </div>
               </form>
            </div>
        </div>
  	
        <div class="col-xs-12 col-sm-4 col-md-9 clubsDisplayDiv">
            <div class="col-xs-12">
                
                    <% for(var i = 0; i < data.length; i++){%>
                      <div class="row">
                       <% for(var j in data[i]) {%>
                        <form action="/home" method="post" id="add-fav">
                            <div class="col-md-4 col-sm-6">
                                <div class="panel panel-default text-center">
                                   <a href="/group/<%= data[i][j].name.replace(/ /g,"-") %>">

                                    <div class="panel-heading">
                                        <img src="/uploads/<%= data[i][j].image %>" width="200px" height="171px" class="">
                                    </div>
                                    <div class="panel-body">
                                        <h4><%= data[i][j].name %></h4>
                                        <span><%= data[i][j].country %></span>
                                        <i class="fa fa-user"> <%= data[i][j].fans.length %></i>
                                        <input type="hidden" name="id" id="id" value="<%= data[i][j]._id %>" class="form-control">
                                        <input type="hidden" name="clubName" id="club_Name" value="<%= data[i][j].name %>" class="form-control">

                                    </div>
                                    </a>

                                    <button type="submit" id="add_fav" class="btn btn-primary">Add to favourite</button>
                                </div>
                            </div>
                        </form>
                        <% } %>
                        </div>
                    <% } %>
                
            </div>
            
        </div>
  </div>
  
</div>
    
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Soccerchat</h3>
        <p class="footer-company-name">Soccerchat &copy; 2017</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Akadeemia tee 7/2B</span> Tallinn, Estonia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+37258211057</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            Soccerchat is an online chat application for soccer lovers.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>



<!-- <link href="/bootstrap.3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/bootstrap.3.3.6/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>