<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%= title %></title>
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,800' rel='stylesheet' type='text/css'>
    
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/profileImages/favicon.ico" type="image/x-icon" />


</head>

<body>


    <div class="col-md-12 mob-clearfix margin-80">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/home" style="color:white">Soccerkik</a>
                        </div>

                        <div class="collapse navbar-collapse navbar_collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right" id="re_load2">
                               <li>
                                   <a href="/football/latest-news" class="dropdown-toggle member_span" style="color:white">
                                        Football News
                                    </a>
                               </li>
                                <li>
                                    <a href="/members" class="dropdown-toggle member_span" style="color:white">
                                        <span class="nav-glyphicon "></span>Members
                                    </a>
                                </li>
                                
                                <li id="">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon fa fa-bell nav-glyphicon "></span><b class="caret"></b> 
                                        <% if(user.totalRequest > 0) {%>
                                          <span class="label label-primary nav-label-icon"><%= user.request.length %></span>
                                          
                                        <% } else { %>
                                            <span class="label label-primary nav-label-icon" style="display: none"></span>
                                        <% } %>
                                                                               
                                    </a>

                                    <ul class="dropdown-menu dmenu dmenu1">
                                        <li>
                                            <div class="navbar-login" id="requestBar">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="dropdown-tag">
                                                            <h3 class="text-center dropdown-tag-head">
                                                                Friend Requests
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                <% if(userData.request.length > 0) {%>
                                                    <% userData.request.forEach(function(val){ %>
                                                    <div class="row" id="row_div">
                                                        <div class="col-md-3">
                                                            <p class="text-center">
                                                                <img src="https://soccerchatuser.s3.amazonaws.com/<%= val.userId.userImage %>" class="img-circle img-responsive dropdown-img" />
                                                            </p>
                                                        </div>
                                                        <div class="col-md-9 pleft-0">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-12">
                                                                        <p class="text-left">
                                                                            <strong id=""><%= val.username %></strong>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                                                                                <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                                                                <button type="submit" name="accept" id="accept_friend" class="btn btn-default drop-accept accept"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                                                                            </div>
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId._id %>">
                                                                                <button type="submit" name="cancel" class="btn drop-cancel remove" id="cancel_friend">
                                                                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <% }) %>
                                                    <% } else{ %>
                                                        <p class="text-center">No Friend Request</p>
                                                  <% } %>
                                                    
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </li> 
                                <!-- END -->

                                <li>
                                <% var numOfTrue = 0 %>
                                <% for(var i=0;i<chat.length;i++){
                                    if(chat[i].body.isRead === false)
                                       numOfTrue = numOfTrue + 1
                                }%>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="fa fa-globe "></span> <b class="caret"></b> 
                                        <% if(numOfTrue != 0) {%>
                                            <span class="label label-primary nav-label-icon"><%= numOfTrue %></span>
                                        <% } %>
                                    </a>
                                    <ul class="dropdown-menu dmenu">
                                        <li>
                                            <div class="navbar-login">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="dropdown-tag">
                                                            <h3 class="text-center dropdown-tag-head">
                                                                Notifications
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                <% if(chat.length > 0) {%>
                                                <% chat.forEach(function(val){ %>
                                                <input type="hidden" name="" id="chat_names" value="@<%= val.body.authorName %>@<%= user.username %>">
                                                    <% if(user.username !== val.body.authorName) {%>
                                                    <a href="/chat/@<%= val.body.authorName %>@<%= user.username %>" id="link_click" data-value="<%= val.body._id %>">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <p class="text-center">
                                                                   <img src="https://soccerchatuser.s3.amazonaws.com/<%= val.body.author.userImage %>" class="img-circle img-responsive dropdown-img" />
                                                                </p>
                                                            </div>
                                                            <div class="col-md-9 pleft-0">
                                                                <div class="row">
                                                                    <div class="col-md-12 textRow" style="width:244px">
                                                                        <div class="col-md-12" id="textRow">
                                                                            <p class="text-left drop-name">
                                                                                <% if(user.username !== val.body.receiverName) {%>
                                                                                    <strong><%= val.body.receiverName %></strong>
                                                                                <% } else { %>
                                                                                    <strong><%= val.body.authorName %></strong>
                                                                                <% } %>
                                                                            </p>
                                                                           <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                                                                           <% if(val.body.isRead == true){ %> 
                                                                               <p class="textRead drop-message">
                                                                               <%= cutstring.cutString(val.body.body, 10) %>...
                                                                               </p>
                                                                           <% } else { %>
                                                                               <p class="textNotRead drop-message">
                                                                                <%= cutstring.cutString(val.body.body, 10) %>...
                                                                               </p>
                                                                           <% } %>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <% } else if(user.username === val.body.authorName) {%>
                                                        <a href="/chat/@<%= val.body.receiverName %>@<%= user.username %>" id="link_click" data-value="<%= val.body._id %>">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <p class="text-center">
                                                                    <img src="https://soccerchatuser.s3.amazonaws.com/<%= val.body.receiver.userImage %>" class="img-circle img-responsive dropdown-img" />
                                                                </p>
                                                            </div>
                                                            <div class="col-md-9 pleft-0">
                                                                <div class="row">
                                                                    <div class="col-md-12 textRow" style="width:244px">
                                                                        <div class="col-md-12" id="textRow">
                                                                            <p class="text-left drop-name">
                                                                                <% if(user.username !== val.body.receiverName) {%>
                                                                                    <strong><%= val.body.receiverName %></strong>
                                                                                <% } else { %>
                                                                                    <strong><%= val.body.authorName %></strong>
                                                                                <% } %>
                                                                            </p>
                                                                           <input type="hidden" name="chatId" id="chatId" value="<%= val.body._id %>">
                                                                           <% if(val.body.isRead == true){ %> 
                                                                               <p class="textRead drop-message">
                                                                               <%= cutstring.cutString(val.body.body, 10) %>...
                                                                               </p>
                                                                           <% } else { %>
                                                                               <p class="textNotRead drop-message">
                                                                                <%= cutstring.cutString(val.body.body, 10) %>...
                                                                               </p>
                                                                           <% } %>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <hr class="dropdown-divider" />
                                                     <% } %>
                                                      <% }) %>
                                                  <% } else { %>
                                                        <p class="text-center">No Message Notification</p>
                                                  <% } %>
                                                    
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon fa fa-user nav-glyphicon "></span> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/settings/profile"><span class="fa fa-user" style="color: #4aa1f3 !important;"></span>  Profile</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout"><span class="fa fa-sign-out" style="color: #4aa1f3 !important;"></span> Logout</a></li>
                                    </ul>
                                </li>

                                
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>



        <div class="col-md-12">

            <h3 style="margin-bottom:20px">Members</h3>

        </div>

        <div class="col-md-12">
            <div class="chat_container">
            <input type="hidden" name="" id="name-user" value="<%= user.username %>">
            <input type="hidden" name="" id="img-user" value="<%= user.userImage %>">
                <div class="row">
                    <!-- LEFT -->

                    <div class="col-sm-4 col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">

                                            <div class="content">
                                                <div class="main">
                                                <form method="POST" class="form-horizontal" id="" action="">
                                                    <p class="friends" style="margin-bottom:0px;color:#444">
                                                        FILTER
                                                    </p>
                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="gender" id="gender" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option>Filter By Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button type="" id="apply" class="btn add-apply">Filter By Gender</button>


                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="club" id="club" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option value="">Filter By Club</option>
                                                        

                                                        <% for(var i = 0; i < data.length; i++){ %>
                                                            <% for(var j = 0; j < data[i].length; j++){ %>
                                                                <option value="<%= data[i][j].club %>"><%= data[i][j].club %></option>
                                                            <% } %>
                                                        <% } %>

                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button type="" id="apply" class="btn add-apply">Filter By Club</button>
                                                </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--RIGHT-->

                    <div class="col-sm-8 col-md-9">
                        <div class="">
                        <% for(var i = 0; i < data.length; i++){%>
                            <div id="categories-list" class="">
                            <div class="row">
                            <% for(var j in data[i]) {%>
                                
                                <form action="/members" method="post" id="members">
                                    <div class="item col-md-4 col-sm-4 clubDiv">
                                    <a style="text-decoration:none !important" href="/profile/<%= data[i][j].username %>">
                                        <div class="thumbnail thumb_nail">
                                            <div class="img-container" style="margin-top:15px;">
                                                <img class="img-responsive" src="https://soccerchatuser.s3.amazonaws.com/<%= data[i][j].userImage %>" alt="" />
                                            </div>

                                            <div class="caption">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">

                                                        <h4 class="group inner list-group-item-heading members-name">
                                                            @<%= data[i][j].username %>
                                                        </h4>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h4 class="group inner list-group-item-heading text-right members-club-name"><%= data[i][j].club %></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    </form>
                                
                                <% } %>
                                </div>
                            </div>
                            <% } %>
                        </div>

                    </div>



                </div>

            </div>
        </div>

    </div>


    <script src="/assets/js/jquery.1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>

</body>

</html>
