<% layout('layout') %>


    <nav class="navbar profile-nav" role="navigation" style="border-radius:0px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav_brand" href="/home">Soccerchat</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <a class="navbar-brand nav_link" href="/members">Members</a>
                   <a href="/profile/<%= user.username %>" class="img"><img src="/images/profile-pic.png" width="35px" height="35px" class="img-responsive img-circle" alt=""></a>
                   <a class="navbar-brand nav_link" href="/profile/<%= user.username %>"><%= user.username %></a>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle button" data-toggle="dropdown" style="background:#4aa1f3">My Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/settings/profile">Manage Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    
                    
                </ul>
            </div>
            
        </div>
        
    </nav>
    
    <div class="container home" style="margin:0 auto">
      
    <div class="row home-row">
        
        <div class="col-lg-12 displayText">
            <h2>Members</h2>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-3 " id="side_bar" role="navigation" >
           <div class='thumb-nail' style='border:none; padding-top:5px;'>
                <form method="POST" class="form-horizontal" id="" action="">
                    <h2>Filter</h2>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select name="gender" id="gender" class="form-control">
                               <option value="">Filter By Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>

                            <div class=" panel_footer">
                            <button id="apply" class="">Filter By Gender</button>
                        </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-top:35px;">
                        <div class="col-sm-12">
                            <select name="club" id="club" class="form-control">
                               <option value="">Filter By Club</option>
                                <% data.forEach(function(val){ %>
                                    <option value="<%= val.club %>"><%= val.club %></option>
                                <% }) %>
                            </select>

                            <div class="panel_footer">
                                <button id="apply" class="">Filter By Clubs</button>
                            </div>
                        </div>
                    </div>
                    
                    
               </form>
            </div>
        </div>
  	
        <div class="col-xs-12 col-sm-4 col-md-9 clubsDisplayDiv" id="">
            <div class="col-xs-12">
               <% if(data.length > 0) {%>
                <% for(var i = 0; i < data.length; i++) {%>
                    <form action="/members" method="post" id="members">
                        <div class="col-md-4 col-sm-6">
                            <div class="panel panel-default text-center" style="padding-bottom:10px;">
                               <a href="/profile/<%= data[i].username %>">

                                <div class="panel-heading">
                                    <img src="/profileImages/<%= data[i].userImage %>" class="panelImage">
                                </div>
                                <div class="panel-body" style="padding-bottom: 7px;">
                                    <h4><%= data[i].username %></h4>
                                    <span><%= data[i].club %></span>
                                    
                                    <input type="hidden" name="id" id="id" value="<%= data[i]._id %>" class="form-control">
                                    <input type="hidden" name="clubName" id="club_Name" value="<%= data[i].club %>" class="form-control">

                                </div>
                                </a>

                            </div>
                        </div>
                    </form>
                <% } %>
                <% } else { %>
                    <h2>No records found</h2>
                <% } %>
            </div>
            
        </div>
  </div>
  
</div>
    
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Soccerchat</h3>
        <p class="footer-company-name">Soccerchat &copy; 2017</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Akadeemia tee 7/2B</span> Tallinn, Estonia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+37258211057</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            Soccerchat is an online chat application for soccer lovers.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>




<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/bootstrap.3.3.6/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>