<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Web</title>


    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">


</head>

<body>


    <div class="col-md-12 mob-clearfix margin-80">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/home" style="color:white">Soccerchat</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user nav-glyphicon "></span>Chats <span class="label label-primary nav-label-icon">16</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-bell nav-glyphicon "></span>Notification <span class="label label-primary nav-label-icon">12</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-envelope nav-glyphicon "></span>Inbox <span class="label label-info nav-label-icon">32</span>
                                    </a>

                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user nav-glyphicon "></span>Admin <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>



        <div class="col-md-12">

            <h3 style="margin-bottom:20px">Members</h3>

        </div>

        <div class="col-md-12">
            <div class="chat_container">
            <input type="hidden" name="" id="name-user" value="<%= user.username %>">
                <div class="row">
                    <!-- LEFT -->

                    <div class="col-sm-4 col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">

                                            <div class="content">
                                                <div class="main">
                                                <form method="POST" class="form-horizontal" id="" action="">
                                                    <p class="friends" style="margin-bottom:0px;color:#444">
                                                        FILTER
                                                    </p>
                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="gender" id="gender" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option>Filter By Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button type="" id="apply" class="btn btn-default add-apply">Filter By Gender</button>


                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="club" id="club" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option value="">Filter By Club</option>
                                                        <% data.forEach(function(val){ %>
                                                            <option value="<%= val.club %>"><%= val.club %></option>
                                                        <% }) %>

                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button type="" id="apply" class="btn btn-default add-apply">Filter By Club</button>
                                                </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--RIGHT-->

                    <div class="col-sm-8 col-md-9">
                        <div class="">

                            <div id="categories-list" class="">
                                <div class="row">
                                <% if(data.length > 0) {%>
                                    <% for(var i = 0; i < data.length; i++) {%>
                                    <form action="/members" method="post" id="members">
                                    <div class="item col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                        <a href="/profile/<%= data[i].username %>">
                                            <!-- <img class="img-responsive meb-img" src="/profileImages/<%= data[i].userImage %>" width="180px" height="180px" alt=""  /> -->
                                            <img class="img-responsive meb-img" src="/images/team.jpg" alt="" />
                                            <hr />
                                            <div class="caption">

                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">

                                                        <h4 class="group inner list-group-item-heading members-name">
                                                            <%= data[i].username %>
                                                        </h4>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h4 class="group inner list-group-item-heading text-right members-club-name"><%= data[i].club %></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                    </form>
                                    <% } %>
                                    <% } else { %>
                                        <h2>No records found</h2>
                                    <% } %>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>


    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>

</body>

</html>
