
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%= title %></title>
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,800' rel='stylesheet' type='text/css'>
    
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/profileImages/favicon.ico" type="image/x-icon" />


</head>

<body>


    <div class="col-md-12 mob-clearfix margin-80">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/home" style="color:white">Soccerkik</a>
                        </div>




                        <div class="collapse navbar-collapse navbar_collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right" id="re_load2">
                                <li>
                                    <a href="/members" class="dropdown-toggle member_span">
                                        <span class="nav-glyphicon "></span>Members
                                    </a>
                                </li>
                                

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon fa fa-user nav-glyphicon "></span> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/settings/profile"><span class="fa fa-user" style="color: #4aa1f3 !important;"></span>  Profile</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout"><span class="fa fa-sign-out" style="color: #4aa1f3 !important;"></span> Logout</a></li>
                                    </ul>
                                </li>

                                
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>




        <div class="col-md-12">
        <form method="POST" action="/results" class="">
            <div class="form-group ad-30" style="margin-top:8px;">
                <div class="input-group search-style">
                    <input class="form-control new-search-bar"  name="country" id="search" placeholder="Enter Your Club Name" type="text">
                    <span class="input-group-btn">
                        <button class="btn input-btn" type="submit" id="submit">Search</button>
                    </span>
                </div>
            </div>
            </form>
        </div>

        <div class="col-md-12">
            <h3 style="margin-bottom:20px">Available Chat Rooms</h3>
            <input type="hidden" name="" id="name-user" value="<%= user.username %>">
            <input type="hidden" name="" id="img-user" value="<%= user.userImage %>">
        </div>

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">

                    <div class="col-sm-4 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">
                                            <form method="POST" class="" id="" action="/results">
                                            <div class="content">
                                                <div class="main">
                                                    <p class="friends" style="margin-bottom:0px;color:#444">
                                                        FILTER
                                                    </p>
                                                    <hr style="margin-top:10px" />
                                                    <select class="selectpicker" name="country" id="country" data-style="btn-primary" style="padding:5px;width:100%">
                                                        <option>Filter By Country</option>
                                                        <% country.forEach(function(val){ %>
                                                            <option value="<%= val._id %>"><%= val._id %></option>
                                                        <% }) %>

                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <button class="btn add-apply" id="apply">Apply</button>

                                                </div>

                                            </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-8 col-md-9">
                        <div class="">
                        <% if(data.length > 0) {%>
                        <% for(var i = 0; i < data.length; i++){%>
                            <div id="categories-list" class="">
                            <div class="row">
                            <% for(var j in data[i]) {%>
                                
                                <form action="/home" method="post" id="add-fav">
                                    <div class="item col-md-4 col-sm-4 clubDiv">
                                    <a style="text-decoration:none !important" href="/group/@<%= user.username%>/<%= data[i][j].name.replace(/ /g,"-") %>">
                                        <div class="thumbnail">
                                            <img class="img-responsive" src="https://clubpictures.s3.amazonaws.com/<%= data[i][j].image %>" width="200px" height="171px" alt="" />
                                            <div class="caption">
                                                <h4 class="group inner list-group-item-heading">
                                                    <%= data[i][j].name %> (<%= data[i][j].fans.length %>)
                                                </h4>
                                                
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <p class="lead" style="background: none !important; padding:0 !important; margin:0 !important">
                                                            <%= data[i][j].country %>
                                                            <span class="ic-002"></span>
                                                            <input type="hidden" name="id" id="id" value="<%= data[i][j]._id %>" class="form-control">
                                                            <input type="hidden" name="clubName" id="club_Name" value="<%= data[i][j].name %>" class="form-control">
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <button class="btn add-fav my-add-fav" id="add_fav" type="submit">Add to Favourite</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </form>
                                
                            <% } %>
                            </div>
                            </div>
                            <% } %>
                            <% } else { %>
                                <h2 class="text-center">No Record Found. Record Will Be Added Soon</h2>
                            <% } %>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>


    <script src="/assets/js/jquery.1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>

</body>

</html>
