<% layout('layout') %>


<div class="header">
    <div class="team-menu">
        <a href="/home">Soccer Chat</a> | <%= user.club %>
    </div>
    <div class="channel-menu">
        <span class="channel-menu_name">
            <%= data2 %>
        </span>
        
        <span>
            <% data.friendsList.forEach(function(val){%>                
                <input type="hidden" name="friendId" id="friendId" value="<%= data._id %>">
                <input type="hidden" name="name" id="name" value="<%= data.fullname.replace(/ /g, "-" ) %>">
                <button type="submit" id="add_friend" class="btn btn-primary add"><i class="fa fa-user"></i> Add Friend</button>
                    
            <% }) %>
            
        </span>
        
        <span>
            <% if(data.request.length > 0) {%>
                <button type="submit" id="add_friend" class="btn btn-primary add"><i class="fa fa-user"></i> Friend Request Received</button>
            <% } %>
        </span>
    </div>
</div>

<div class="main">
    <div class="listings">
        <div class="listings_channels">
            <h2 class="listings_header">Clubs</h2>
            <ul class="channel_list">
                <div>
                    <li class="channel active">
                        <a class="channel_name">
                            <span class="unread">
                                0
                            </span>
                            <span>
                                <span class="prefix">#</span>
                                slack
                            </span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        
        <div class="listings_channels">
            <h2 class="listings_header">Friends</h2>
            <ul class="channel_list">
                <div>
                    <li class="channel">
                        <% if(data.friendsList.length > 0) {%>
                            <% data.friendsList.forEach(function(val){ %>
                                  <a class="channel_name">
                                       <h3>
                                       <a href="/chat/@<%= val.friendName.replace(/ /g, "-") %>@<%= user.fullname.replace(/ /g, "-") %>">@<%= val.friendName %></a>
                                       </h3>
                                  </a>
                            <% }) %>
                        <% } %>
                    </li>
                </div>
            </ul>
        </div>
        <div class="listings_direct-messages" id="users"></div>

    </div>
    
    <div class="listings2">
        <div class="listings_channels">
            <h2 class="listings_header">Online Club Fans</h2>
            <ul class="channel_list">
                <li class="channel">
                    <a class="channel_name">
                        <div class="" id="users"></div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    
    <ol id="messages"></ol>

<script id="message-template" type="text/template">
    <div class="message-history">
        <div>
            <div class="message">
                <a href="" class="message_profile-pic"></a>
                <a href="" class="message_username">{{from}}</a>
                <span class="message_content">{{text}}</span>
            </div>
        </div>
    </div>
</script>

</div>

<% include ./partials/user_footer %>

	
